body {
  margin: 0;
  padding: 0;
}
.header-container {
  background-color: deepskyblue;
  max-width: 100%;
  height: 200px;
  color: white;
  text-align: center;
  padding: 20px;
  font-family: "Times New Roman", Times, serif;
}

h1 {
  font-weight: bold;
  font-size: 35px;
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  justify-content: center;
}
.contact-info {
  display: flex;
  font-style: normal;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 70px;
}

.info-item {
  display: flex;
  margin-left: 20px;
  margin-right: 20px;
  cursor: pointer;
}
.info-item img {
  display: flex;
  margin-right: 5px;
}

/* span {
} */

.personal-career-container {
  display: flex;
  align-items: stretch;
  font-size: 17px;
  flex-wrap: wrap;
  height: auto;
}

.personal-info-container,
.career-objective-container {
    flex: 1; /* Ensure both containers take equal space */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
    min-height: 200px; /* Ensure a minimum height */
}

.personal-info-container {
    background-color: rgb(248, 70, 6);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    color: white;
}

.personal-info-container p {
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-left: 10px;
}

.career-objective-container {
    background-color: rgb(5, 219, 5);
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.career-objective-container p {
    text-align: center;
    margin-block-start: 5px;
    margin-block-end: 0px;
    line-height: 1;
    max-width: 100%;  
}



/* Extra Small devices (phones, less than 576px) */
@media (max-width: 575.98px) {
  .contact-info {
    flex-direction: column;
     margin-top: 10px;
  
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .contact-info {
    flex-direction: column;
    margin-top: 10px;
  }
  
} 
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  h1 {
    text-align: center;
    flex-direction: column;
  }
  .contact-info {
    flex-direction: column;
    text-align: center;
    margin-top: 10px;
  }

  .personal-career-container {
    flex-direction: column;
  }

  .personal-info-container,
  .career-objective-container {
    width: 100%;
  }

  .career-objective-container p {
    text-align: center;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .container {
    width: 100%;
    margin: auto;
  }
}
}
